
  <a class="relative" href="projects.html">
    <div class="relative">
      <img class="side-images" src="/images/about-images/About-1.jpg" alt="McKinnon Earthmoving Projects">
      <h6 class="hover-text">Projects</h6>
    </div>
  </a>

  <a class="relative" href="services.html">
      <div class="relative">
      <img class="side-images relative" src="/images/about-images/About-2.jpg" alt="McKinnon Environmental Services">
      <h6 class="hover-text">Services</h6>
    </div>
  </a>

  <a class="relative" href="Photos.html">
      <div class="relative">
  <img class="side-images relative" src="/images/about-images/About-3.jpg" alt="McKinnon Earthmoving Photos">
    <h6 class="hover-text">Photos</h6>
  </div>
  </a>
