<header class="grid-middle head-background">
  <div class="col-2_sm-12">
    <img class="logo" src="/images/cr-logo3.png" alt="Tempesst">
  </div>
  <div class="col-10_sm-12 mob-hide">
    <nav class="right">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/critical-systems">Critical Systems</a>
      <a href="/transcriptions">Transcriptions</a>
      <a href="/virtual-assistant">Virtual Assistant</a>
      <a href="/contact">Contact</a>

    </nav>
  </div>
</header>
<!-- FIRST BANNER SECTION ---->
<section id="intro-banner" class="banner featured centered grid-middle">
  <div class="col">
</div>
</section>
