<header class="grid-middle head-background">
  <div class="col-4_sm-12">
    <img class="logo" src="/images/demo-logo.png" alt="Tempesst">
  </div>
  <div class="col-8_sm-12 mob-hide">
    <nav class="right">
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/critical-systems"> Critical Systems </a>
      <a href="/transcriptions"> Transciptions </a>
      <a href="/virtual-assistant"> Virtual Assistant </a>
      <a href="/blog"> Blog </a>

    </nav>
  </div>
</header>
