<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo" src="/images/cr-logo3.png" alt="Brand Name Here">
    <p>TempESST helps businesses to help themselves.  Our purpose is to create spare time, simplify the complicated and our systems make all the bits fit. </p>
    <br>
    <br>
    <br>
    <p class="design">Website Designed by<a href="http://www.adworxdigital.com.au" target="_blank">Adworx Digital</a> </p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <h6>Useful Links</h6>
      <a href="/critical-systems"> Critical Systems </a>
      <a href="/transcriptions"> Transcriptions </a>
      <a href="/virtual-assistant"> Virtual Assistant </a>
        <a href="/privacy-policy"> Privacy Policy </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <h6>Social Media</h6>
      <a href="http://www.facebook.com/simplifyandmultiply" target="_blank"> <i class="fa fa-facebook"></i>Facebook </a>
    </nav>
 </div>
</footer>
